<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NFL Statistics Website</title>
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
        <link rel="manifest" href="../favicons/site.webmanifest">
    </head>
    <body>
        <header>
            <nav id="navbar">
                <ul id="navbar-links-list">
                    <li>
                        <a class="navbar-links" href="super-bowl-championships.html">Super Bowl Championships</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="afc-east-champions.html">AFC East Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="afc-north-champions.html">AFC North Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="afc-south-champions.html">AFC South Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="afc-west-champions.html">AFC West Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="nfc-east-champions.html">NFC East Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="nfc-north-champions.html">NFC North Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="nfc-south-champions.html">NFC South Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="nfc-west-champions.html">NFC West Champions</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="afc-championship-history.html">AFC Championship History</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="nfc-championship-history.html">NFC Championship History</a>
                    </li>
                    <li>
                        <a class="navbar-links" href="super-bowl-history.html">Super Bowl History</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main-section" id="nfc-east-champions-main-section">
            <select class="year-dropdown" id="nfc-east-champions-year-dropdown">
                <option>1967</option>
                <option>1968</option>
                <option>1969</option>
                <option>1970</option>
                <option>1971</option>
                <option>1972</option>
                <option>1973</option>
                <option>1974</option>
                <option>1975</option>
                <option>1976</option>
                <option>1977</option>
                <option>1978</option>
                <option>1979</option>
                <option>1980</option>
                <option>1981</option>
                <option>1982</option>
                <option>1983</option>
                <option>1984</option>
                <option>1985</option>
                <option>1986</option>
                <option>1987</option>
                <option>1988</option>
                <option>1989</option>
                <option>1990</option>
                <option>1991</option>
                <option>1992</option>
                <option>1993</option>
                <option>1994</option>
                <option>1995</option>
                <option>1996</option>
                <option>1997</option>
                <option>1998</option>
                <option>1999</option>
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
                <option>2003</option>
                <option>2004</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
            </select>
        </main>
        <script src="../typescript/nfcEastChampions.js"></script>
    </body>
</html>
